services:
    backend:
        build: 
            context: ./backend
            dockerfile: Dockerfile
        ports:
            - "3000:3000"
        env_file:
            - ./backend/.env
        volumes: 
            - ./backend:/app 
            - backend_node_modules:/app/node_modules
    frontend:
        build:
            context: ./Frontend
            dockerfile: Dockerfile
        
        ports:
            - "8080:8080"
        
        volumes:
            - './Frontend:/app'
            - 'frontend_node_modules:/app/node_modules'

volumes:
    backend_node_modules:
    frontend_node_modules:
        
